@font-face {
    font-family: 'MerriweatherSans';
    src: url("Fonts/MerriweatherSans-Italic-VariableFont_wght.ttf") format("ttf"),
         url("Fonts/MerriweatherSans-VariableFont_wght.ttf") format("ttf");
  }
  
body{
    background-color:white;
    font-family: 'MerriweatherSans-VariableFont_wght';
    size: 13;
}

.logo{
    display: block;
    margin: 0px auto;
}

.logo{
    width: 13%;
}

nav li {
    display: inline-block;
}

nav a {
    color:white;
    text-decoration: none;
    padding: 30px;
}

nav a:hover {
    text-decoration: underline;
}

nav {grid-area: mynav; background: #203C71;
    height: 40px;}

.topphoto{
    width: 60%;
    display: block;
    margin: 0px auto;
    padding: 20px;
}




